<%- include('partials/head') %>

<div class="pb-5">
    <div class="container py-5 w-75">
        <h1 class="text-center mb-5">About</h1>
        <p>Pet Friend supports the “Adopt, Don't Shop” campaign, encouraging more people to adopt pets instead of buying them. Every year, approximately 1.5 million adoptable shelter dogs and cats are euthanized in the US, according to the ASPCA. That's because the shelters simply don't have enough resources and funding to accommodate all the animals that are brought there.</p>
        <p>Pet Friend locates dogs and cats available for adoption by retrieving data from <a href="https://www.petfinder.com/developers/" target="_blank">Petfinder API</a>. Information that potential adoptive homes would like to know about each pet, such as breed, age, location etc. will be available on this website.</p>
        <p>Another feature which Pet Friend provides is to calculate the distance and travelling duration between you and the pet. Click the “Calculate Distance” button on the pet's page and accept the browser's access to know your location. Then the distance and travelling duration information will be displayed below the button. This action is completed by using the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API" target="_blank">Geolocation API</a>, <a href="https://developers.google.com/maps/documentation/geocoding" target="_blank">Google Geocoding API</a> and <a href="https://developers.google.com/maps/documentation/distance-matrix" target="_blank">Google Distance Matrix API</a>.</p>
    </div>
</div>

<%- include('partials/footer') %>